/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/js
public/css
public/fonts
public/images
.gitignore
.DS_Store
public/css/app.css
public/js/app.js
